<h2>People List</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Mobile</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.gender }}</td>
      <td>{{ person.mobile }}</td>
      <td><a [routerLink]="['/edit', person._id]">Edit</a></td>
      <td><a [routerLink]="['/delete', person._id]">Delete</a></td>
    </tr>
  </tbody>
</table>
